{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> <!-- Inside your HTML template for the About page -->
<h2>About Blogify</h2>

<p>Welcome to Blogify - your source for captivating content. Discover articles that inspire and inform, covering a variety of topics. Our mission is to make quality information accessible to all, fostering a community of curious minds. Meet our passionate team driving Blogify's vibrant hub of ideas.</p>

<h3>Contact Us</h3>
<p>Have questions or suggestions? Reach out to us at <a href="mailto:info@blogify.com">info@blogify.com</a>. Your feedback helps us improve and ensures Blogify remains a platform that resonates with you.</p>
 </p>
      <a href="#" class="btn btn-danger">Visit Website!</a>
      <a href="#" class="btn btn-secondary">Contact Us</a>
    </div>
  </div>
</div>

{% endblock sidebar %}